.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Estilos responsivos para o footer */
@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
    }

    .footer .social-links,
    .footer .support,
    .footer .contact {
        margin-bottom: 10px;
    }
}